@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    @*<ul class="nav navbar-nav navbar-right">*@
        <i class="fa fa-user"></i>
        <span>Hello @User.Identity.Name!</span>

            <a asp-area="" asp-controller="Account" asp-action="SignOut" class="LoginBtn SignOut">Sign Out</a>

        @*<li class="navbar-text"></li>*@

    @*</ul>*@
}
else
{
    @*<ul class="nav navbar-nav navbar-right">
        <li>*@
        <a asp-area="" asp-controller="Account" asp-action="Signin" class="LoginBtn">Sign in</a>
        @*</li>
    </ul>*@
}
